<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988620818401-e8hv8vbfqn3fgfchdn8od2j40k863bti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988620818401-e8hv8vbfqn3fgfchdn8od2j40k863bti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>988620818401-qvb2rdjsmvsi5fbcqo8780mhj79dh4lv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9aibRJqpeYNryECz4ioumXEGc7ZGJdc8</string>
	<key>GCM_SENDER_ID</key>
	<string>988620818401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeProject</string>
	<key>PROJECT_ID</key>
	<string>finance-project-45d87</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-project-45d87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988620818401:ios:1750a4b17e09c38cbd74a0</string>
</dict>
</plist>